#container{
    width:200px;
    height: 275px;
    background-color: skyblue;
    margin:auto;
    border-radius: 5px;
}
#display{
    width:150px;
    height: 40px;
    border-style: solid;
    background-color: black;
    color: white;
    text-align:right;
    padding-top: 10px;
    margin-left: 20px;
    margin-top:20px
    
}
.firstRow {
    text-align: center;
    padding-top: 20px;
}

.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
    text-align: center;
    padding-top: 10px;
}

#zero{
    width:27%
}

.firstRow :hover,
.secondRow :hover, 
.thirdRow :hover, 
.fourthRow :hover,
.fifthRow :hover{
    background-color: lightcoral;
}

 